// Breakpoints
$mobile-devices: 768px;

// Main container styles
$container-width: 960px;
$default-margin: 0px auto;
$mobile-width:100%;
$mobile-padding:0px 15px;

// Header
$logo-background: url(../images/logo.png) no-repeat center;
$logo-background-size: 300px auto;
$logo-width: 300px;
$logo-height: 79px;

// Social icons
$social-background: url(../images/social.png) no-repeat center;

// Typography
$text-color: #000;
$base-font-size: 16px;
$base-font-family: 'Arial', 'Helvetica', sans-serif;
$base-font-weight: normal;
$heading-color: #000;